img{
    max-width: 100%;
    max-height: 100%;
}
header{
    background-color:rgb(8, 114, 3);
    padding: .5em;
    color:#dac8c8;
    text-align: center;
}

body{
    min-height: 100vh;
    min-width: 400px;  
    background: linear-gradient(rgb(45, 162, 10), #0b0b0a);
    display:grid;
    grid-template-rows: auto auto 1fr auto;
    margin:0%;
    color:#dac8c8;
    text-align: center;
}

header>a{
    width: 100%;
    height: 10em;
    object-fit: cover;
    object-position: center;
    align-self: center;
}

.busqueda{
    width: 85%;
    border-radius: 5px;
}

body>nav{
    position: sticky;
    top:0;
    background:linear-gradient(to right,#f4f2f2,#292828);
}
body>nav>ul>il{
    color:#dac8c8;
    text-align: center;
}
#secundaria>aside{
    display:flex;
}

body>header{
    display: grid;
    grid-template-areas: "a h1 h1 h1 aside" "a form form form aside" "a h2 h2 h2 aside";
}
body>header>a{
    grid-area: a;
}
body>header>form{
    grid-area: form;
}
body>header>aside{
    grid-area: aside;
}
body>header>h1{
    grid-area: h1;
}
body>header>h2{
    grid-area: h2;
}

@media screen and (max-width : 500px){

    body{
        background-color: grey;
    }

}

@media screen and (max-width : 800px) and (min-width : 501px){

    body{
        background-color: burlywood;
        font-size: 2m;
    }

}